# Load data

In [14]:
import pandas as pd
import numpy as np

datasets = ['ssb']

for d in datasets:
    df = data = pd.read_csv(f"../data/{d}/{d}_all.csv")
ds = df
ds

,left_cardinality,left_cardinality_ratio,base_cardinality,selectivity_on_indexed_attr,left_ordered,base_ordered,hj_idx_cost,hj_seq_cost,nl_idx_cost,nl_seq_cost,mj_idx_cost,mj_seq_cost,optimal_decision
0,10800,0.360000,30000,0.908900,0,1,5141556.72,5141299.57,5144179.07,9556686.24,5140675.39,5142384.98,4
1,3265,0.108833,30000,0.671800,0,1,4880570.55,4880554.17,4882766.06,5867360.61,4880589.25,4882038.54,3
2,4860,0.162000,30000,0.562533,0,1,4966516.25,4966656.44,4969388.37,6196702.51,4966683.97,4968018.46,2
3,7892,0.263067,30000,0.692467,0,1,5071752.80,5071745.50,5075322.37,7530679.63,5072129.31,5073600.17,3
4,5875,0.195833,30000,0.308067,0,1,5007146.74,5007630.43,5010775.34,5821949.13,5007454.16,5008545.02,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1493,0.049767,30000,0.017200,1,1,4635009.09,4635867.71,4637808.51,4647412.51,4635086.45,4635967.67,2
1996,1155,0.038500,30000,0.874400,1,1,4580940.23,4580632.28,4582139.11,5034824.93,4580749.50,4582421.04,3
1997,9854,0.328467,30000,0.192733,1,1,5043972.43,5044617.03,5049012.92,5899140.69,5044610.64,5045600.92,2
1998,3424,0.114133,30000,0.398367,1,1,4815375.16,4815726.22,4818097.24,5429383.59,4815478.44,4816651.26,2
1999,7279,0.242633,30000,0.993833,1,1,4981108.95,4980706.42,4982606.39,8234299.41,4980007.35,4981814.65,4

# Prepare features

In [15]:
features = ['left_cardinality', 'left_cardinality_ratio', 'base_cardinality', 'selectivity_on_indexed_attr', 'left_ordered','base_ordered']
regression_targets = ['hj_idx_cost', 'hj_seq_cost', 'nl_idx_cost', 'nl_seq_cost','mj_idx_cost', 'mj_seq_cost']
classification_target = ['optimal_decision']

# Learn linear regression models

## Learn linear regression for hj_idx_cost

In [16]:
X = ds[features]
y = ds['hj_idx_cost']

from sklearn.linear_model import LinearRegression
reg = LinearRegression(normalize=True).fit(X, y)

train_loss = np.sum(np.abs(reg.predict(X) - y)) / ds.shape[0]
train_loss

73597.85355823558

## Learn linear regression for hj_seq_cost

In [17]:
X = ds[features]
y = ds['hj_seq_cost']

from sklearn.linear_model import LinearRegression
reg = LinearRegression(normalize=True).fit(X, y)

train_loss = np.sum(np.abs(reg.predict(X) - y)) / ds.shape[0]
train_loss

73599.26388658478

## Learn linear regression for nl_idx_cost

In [18]:
X = ds[features]
y = ds['nl_idx_cost']

from sklearn.linear_model import LinearRegression
reg = LinearRegression(normalize=True).fit(X, y)

train_loss = np.sum(np.abs(reg.predict(X) - y)) / ds.shape[0]
train_loss

73701.45574100933

## Learn linear regression for nl_seq_cost

In [19]:
X = ds[features]
y = ds['nl_seq_cost']

from sklearn.linear_model import LinearRegression
reg = LinearRegression(normalize=True).fit(X, y)

train_loss = np.sum(np.abs(reg.predict(X) - y)) / ds.shape[0]
train_loss

450990.0884966892

## Learn linear regression for mj_idx_cost

In [20]:
X = ds[features]
y = ds['mj_idx_cost']

from sklearn.linear_model import LinearRegression
reg = LinearRegression(normalize=True).fit(X, y)

train_loss = np.sum(np.abs(reg.predict(X) - y)) / ds.shape[0]
train_loss

73585.3063011722

## Learn linear regression for mj_seq_cost

In [21]:
X = ds[features]
y = ds['mj_seq_cost']

from sklearn.linear_model import LinearRegression
reg = LinearRegression(normalize=True).fit(X, y)

train_loss = np.sum(np.abs(reg.predict(X) - y)) / ds.shape[0]
train_loss

73584.91236267936